.hero {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
}

/* .background-img {
  width: 100%;
  height: 70vh;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

} */

.hero-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fourth-color);
  gap: 2rem;
}

.hero-textbox-subheading {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.hero-textbox-mainheading {
  text-transform: capitalize;
  font-size: 5rem;
  text-align: center;
}

.hero-textbox p {
  align-items: center;
  font-size: 2rem;
  text-align: center;
  width: 80%;
}

.hero-ctas {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
@media screen and (max-width: 31.25em) {
  .hero-ctas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hero-cta-btn {
  text-decoration: none;
  color: var(--fourth-color);
  background-color: var(--first-color);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.about-banner {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  /* border-radius: 10px; */
}
.about-banner h2 {
  font-size: 3rem;
}

.about-us {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
  justify-content: center;
  padding: 6rem 12rem;
  align-items: center;
}

.about-us h3{
  text-align: center;
}

.about-us h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding:  2rem 0;
}

.about-us p{
  text-align: center;
}

img{
  --size: 50rem;
  width: var(--size);
  height: var(--size);
  border-radius: 20px;
  transition: all 0.5s ease;
}

img:hover{
  transform: scale(1.02);
}
