.track-sec {
  margin-left: 2rem;
  margin-top: 4rem;
  border-radius: 20px;
  gap: 2rem;
  row-gap: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
@media screen and(max-width: 83.75) {
  .track-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.track {
  background-color: var(--second-color);
  width: 40rem;
  border-radius: 20px;
  box-shadow: -7px 6px 8px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 6px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 6px 8px 1px rgba(0, 0, 0, 0.75);
}

.track-content {
  padding: 1rem;
}

.track-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  text-transform: capitalize;
  color: var(--pry-color);
}

.track-description {
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
}

.track-img-wrapper {
  height: 30rem;
}

.track-img-wrapper img {
  --size: 100%;
  width: var(--size);
  height: var(--size);
  display: block;
  object-fit: cover;
}
